# opensiteenergy docker-compose.yml

services:

  opensiteenergy-postgis:
    container_name: opensiteenergy-postgis
    image: kartoza/postgis:18-3.6
    restart: always
    ports:
      - 5432:5432
    environment:
      TZ: "Europe/London"
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD 
      PGHOST: "/var/run/postgresql"
      PGPORT: "5432"
    hostname: opensiteenergy-postgis
    volumes:
      - ./build/postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 15s
      timeout: 5s
      retries: 20

  opensiteenergy-build:
    container_name: opensiteenergy-build
    volumes:
      - ./build:/usr/src/opensiteenergy/build
    environment:
      TZ: "Europe/London"
      POSTGRES_HOST: opensiteenergy-postgis
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD 
      BUILD_FOLDER: "build/"
    build:
      context: .
      dockerfile: opensiteenergy-build.dockerfile
    depends_on:
      opensiteenergy-postgis:
        condition: service_healthy
    stdin_open: true
    tty: true
